/* General Reset */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
  }
  
  /* Navigation Bar */
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #ffffff;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .logo {
    display: flex;
    align-items:center;
    font-size: 1.5rem;
    color: #2a7f24;
    font-weight: bold;
  }
  
  .logo img {
    width: 60px;
    margin-right: 0.5rem;
    object-fit: cover;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 1.5rem;
    margin: 0;
    padding: 0;
    align-items: center;
  }
  
  .nav-links li a {
    text-decoration: none;
    color: #333333;
    font-weight: bold;
  }
  
  .nav-button {
    background: none;
    border: 2px solid #f04c24;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    cursor: pointer;
    color: #f04c24;
    font-weight: bold;
    transition: all 0.3s ease;
    
  }
  
  .nav-button:hover {
    background-color: #f04c24;
    color: #ffffff;
  }
  
  .sign-up {
    background-color: #f04c24;
    color: #ffffff;
  }
  
  .sign-up:hover {
    background-color: #c7381e;
  }
  
  /* Hero Section */
  .hero-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    margin: 2rem auto;
    max-width: 1200px;
  }
  
  .hero-text {
    max-width: 50%;
    text-align: left;
  }
  
  .hero-text h1 {
    font-size: 2.5rem;
    color: #2a7f24;
    margin: 0;
    line-height: 1.4;
  }
  
  .hero-text h1 span {
    color: #f04c24;
  }
  
  .hero-text p {
    font-size: 1.2rem;
    color: #666;
    margin: 1rem 0 2rem;
  }
  
  .cta-button {
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    color: #ffffff;
    background-color: #f04c24;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .cta-button:hover {
    background-color: #c7381e;
  }
  
  .hero-image img {
    width: 100%;
    max-width: 500px;
    border-radius: 10px;
    /* box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); */
  }
  