/* sidebar */
.sidebar-container {
  display: grid;
  grid-template-columns: 260px 1fr;
  grid-template-rows: 0.2fr 3fr;
  grid-template-areas:
    "sidebar header"
    "sidebar main";
  height: 100vh;
  position: fixed;
}
.sidebar {
  grid-area: sidebar;
  height: 100%;
  background-color: #f3f6fa;
  overflow-y: auto;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  /* box-shadow: 0 6px 7px -3px rgba(0,0,0,0.35); */
}
.sidebar hr {
  margin: 0;
  border: 1px solid #000000;
  opacity: 0.1;
  width: 90%;
  place-self: center;
  margin-bottom: 15%;
}
.sidebar-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 30px 0;
  margin-bottom: 30px;
  /* color: #fff; */
}
.sidebar-title > span {
  display: none;
}
.sidebar-brand {
  display: flex;
  align-items: center;
  padding: 0 30px 0 0;
  font-weight: 600;
  font-size: 20px;
}
/* .sidebar-brand > span {
  color: #2A7F24;
} */
.sidebar-brand > img {
  margin-right: 15px;
  width: 40px;
  height: 40px;
}
.sidebar-list {
  list-style: none;
  padding: 0;
}
.sidebar-list-item {
  padding: 15px;
  font-size: 18px;
  display: flex;
  align-items: center;
  text-decoration: none;
  transition: background-color 0.3s;
  width: 90%;
  place-self: center;
  color: #000;
  /* height: auto; */
  margin-bottom: 30px;
  border-radius: 5px;
}
.sidebar-list-item:hover {
  background-color: #f35b04;
  border-radius: 5px;
  cursor: pointer;
  width: 90%;
  place-self: center;
  height: 80%;
}

.sidebar-responsive {
  display: inline !important;
  position: absolute;
  z-index: 12 !important;
}
.active-link {
  background-color: #f35b04;
  color: #fff;
  border-radius: 5px;
  height: 80%;
  cursor: pointer;
  width: 90%;
  place-self: center;
}

.close-icon {
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
}
/* end of sidebar */
